.popular-products {
    padding: 2rem;
    /* background-color: #f9f9f9; */
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.section-header h2 {
    font-size: 1.5rem;
}

.section-header a {
    text-decoration: none;
    color: #ff7f50;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    margin: 0 10%;
}

.product-card {
    background-color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    /* overflow: hidden; */
   
}

.product-card img {
    max-width:100%;
    max-height: 100%;
   
    /* margin-bottom: 0.5rem; */
}

/* .product-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
} */

.product-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.product-card button {
    padding: 0.5rem 1rem;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

.product-details{
    display: flex;
    justify-content: space-between;
    margin: 0.8rem;
}


.product-name {
    font-size: 1.25rem;
    text-align: left;
    color: #667185;

}

.product-price {
    text-align: right;
}

.Old-price {
    text-decoration: line-through;
}

.New-price {
    font-size: 1.5rem;
    font-weight: bold;
}